#randomBackground{
  /* BOX MODEL */
  width: 100%;
  height: 450px;
  border: 1px solid black;
  
  /* ENHANCEMENT */
  background-image: url('https://512pixels.net/downloads/macos-wallpapers-thumbs/10-0_10.1--thumb.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;  
}